*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container-navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;

  top: 0;
  position: sticky;
  z-index: 10;
}

.logo-sepatu {
  width: 50px;
  margin: 8px;
  margin-left: 30px;
}

ul {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  list-style-type: none;
}

li {
  position: relative;
  font-family: "Figtree", serif;
  font-weight: 800;
}

li,
a {
  text-decoration: none;
  display: block;
  color: black;
}

li,
a:hover {
  color: red;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

.dropdown {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0);
  z-index: 1;
  margin: 0;
  padding: 0;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

.dropdown li {
  width: 100%;
}

.dropdown li a {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  transform: translateX(-20px);
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
}

.dropdown li a:hover {
  color: red;
}

li:hover .dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown:hover {
  display: block;
}

.search {
  margin-right: 50px;
}

.slides {
  width: 100%;
  position: relative;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: -30px;
}

.active {
  background-color: transparent;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}

.slides .slide {
  display: none;
  background-color: #ffffff;
}

.slides .slide img {
  width: 100%;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slides .navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slides .navigation .prev,
.slides .navigation .next {
  cursor: pointer;
  padding: 16px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  user-select: none;
  transition: 0.6s ease;
}

.slides .navigation .prev:hover,
.slides .navigation .next:hover {
  background: rgba(0, 0, 0, 1);
}

.judul-top-product {
  font-size: 25px;
  font-family: "Figtree", serif;
  font-weight: 800;
  margin: 8px;
  margin-top: -90px;
  margin-left: 100px;
}

.product-sepatu {
  width: 350px;
  margin-left: 100px;
  margin-top: 40px;
}

.title-product {
  font-size: 20px;
  font-family: "Figtree", serif;
  font-weight: 800;
  margin-top: 20px;
  margin-left: 100px;
}

.description-product {
  font-size: 16px;
  font-family: "Figtree", serif;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 100px;
}

.wrapper-sepatu {
  display: flex;
  justify-content: center;
  margin-right: 80px;
  gap: -30px;
}

.judul-top-product-1 {
  font-size: 25px;
  font-family: "Figtree", serif;
  font-weight: 800;
  margin: 8px;
  margin-top: 50px;
  margin-left: 100px;
}

.populer-1 {
  margin-top: 50px;
  width: 1300px;
  display: flex;
  margin-left: 8%;
}

.container-populer {
  margin-top: 10px;
  display: flex;
  gap: 90px;
}

.populer-img-1 {
  margin-left: 5%;
  width: 855px;
  margin-top: 20px;
}

.populer-img-2 {
  width: 400px;
}

.judul-kelompok {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 30px;
  font-weight: 800;
  font-family: "Figtree", serif;
}

.wrapper-kelompok {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.title-text {
  font-size: 22px;
  font-weight: 600;
  font-family: "Figtree", serif;
}

.description-text {
  font-size: 18px;
  font-weight: 600;
  font-family: "Figtree", serif;
}

.container-footer {
  margin-top: 130px;
  background-color: rgb(0, 0, 0);
  height: 280px;
}

.wrapper-footer {
  display: flex;
  justify-content: space-between;
}

.img-footer {
  width: 200px;
  margin-left: 70px;
  margin-top: 10px;
}

.judul-footer {
  font-family: "Figtree", serif;
  margin-top: 70px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-bottom: 30px;
}

.description-footer {
  font-family: "Figtree", serif;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 5px;
}

.description-footer-1 {
  font-family: "Figtree", serif;
  font-size: 12px;
  color: #ffffff;
  margin-bottom: 5px;
}

.title-footer {
  margin-top: 90px;
}

.icons {
  font-size: 25px;
  margin: 13px;
  margin-top: 70px;
  transform: translateX(-70px);
  -webkit-transform: translateX(-70px);
  -moz-transform: translateX(-70px);
  -ms-transform: translateX(-70px);
  -o-transform: translateX(-70px);
  color: #ffffff;
  margin-bottom: 130px;
}
